* {
  margin: 0;
}

header {
  text-align: center;
}

.content {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

#add-package {
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#add-package:hover {
  filter: brightness(125%);
}

.success {
  color: green;
}

.error {
  color: red;
}

input {
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #666;
  height: fit-content;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: green;
  color: white;
  font-size: 1.1em;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) td {
  background-color: #f0f0f0;
}
